<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css?family=Nunito+Sans:800,900|Nunito:300,400,700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/style.css">
    <title>JUST SIGN IT.</title>
</head>
<body>
        {{{ body }}}
    </main>
    <script src="fittext.js"></script>
    <script src="/script.js"></script>
</body>
</html>