<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css?family=Nunito+Sans:800,900|Nunito:300,400,700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/style.css">
    <title>JUST SIGN IT.</title>
</head>
<body>
    <header>JUST
    SIGN IT<span id="dot">.</span>
    </header>
    <main>
        {{{ body }}}
    </main>
    <footer>
        <a href="/logout">log out</a>
    </footer>
<script src="/script.js"></script>
</body>
</html>