{{> header}}
<form id="login" action="/login" method="post">
    <h1>Log In</h1>
    <label for="email">Email Address</label>
    <input type="email" name="email" autocomplete="email" value="{{email}}" required>
    <label for="psswd">Password</label>
    <input type="password" name="psswd" autocomplete="new-password" required>
    <input type="hidden" name="_csrf" value="{{csrfToken}}">
    <button type="submit">login</button>
{{#if (isdefined alert)}}<div class="alert">{{alert}}</div>{{/if}}
</form>