<h1>Register</h1>
<h2>Please sign up...</h2>
{{#if (isdefined alert)}}<div class="alert">Please fill out all fields to register!</div>{{/if}}
<form id="register" action="/register" method="post">
    <label for="first">First Name</label>
    <input name="first" autocomplete="given-name" value="{{first}}" required>
    <label for="last">Last Name</label>
    <input name="last" autocomplete="family-name" value="{{last}}" required>
    <label for="email">Email Address</label>
    <input type="email" name="email" autocomplete="email" value="{{email}}" required>
    <label for="psswd">Password</label>
    <input type="password" name="psswd" autocomplete="new-password" required>
    <input type="hidden" name="_csrf" value="{{csrfToken}}">
    <button type="submit">sign up</button>
</form>
<h3>If you are already registered, please <a href="/login">log in</a>.</h3>