{{> header}}
<div class="signed">
    <h1>Thanks for signing!</h1>
    <img class="signature" width="600" height="200" src="{{sign}}" alt="signature">
    <form action="/sign/delete" method="post">
        <input type="hidden" name="_csrf" value="{{csrfToken}}">
        <button type="submit">Delete your signature</button>
    </form>
    <a href="/profile/edit">Edit your profile</a>
    <a href="/signers">See all the {{count}} signers</a>
</div>
