<h1>Sign</h1>
<h2>Hey {{first}} {{last}}, please sign here...</h2>
<form id="signature" action="/sign" method="post">
    <canvas id="canvas" width="600" height="100"></canvas>
    <canvas id="blank" width="600" height="100" ></canvas>
    <input type="hidden" name="sign">
    <input type="hidden" name="_csrf" value="{{csrfToken}}">
    <button type="submit">submit</button>
</form>
{{#if (isdefined alert)}}<div class="alert">Please sign first.</div>{{/if}}
<script src="/sign.js"></script>
