{{> header}}
<div>
    <h1>Hey {{first}}, please sign here...</h1>
    <canvas id="canvas" width="600" height="200"></canvas>
    <canvas id="blank" width="600" height="200" ></canvas>
    <form id="signature" action="/sign" method="post">
        <input type="hidden" name="sign">
        <input type="hidden" name="_csrf" value="{{csrfToken}}">
        <button id="reset" type="reset">Clear signature</button>
        <button type="submit">submit</button>
        {{#if (isdefined alert)}}<div class="alert">Please sign first.</div>{{/if}}
    </form>
</div>
<script src="/sign.js"></script>
